@font-face {
    font-family: 'lldiscoregular';
    src: url('/font/LLDISCO.ttf') format('truetype');
}

body {
  background-color: #000000;
  font-family: 'lldiscoregular';
}

.center-image {
    outline: 40px blue;
    width: 300px;
    height: 450px;
    position:absolute;
    left:48%;
    top:27%;
    margin:-75px 0 0 -135px;
    outline: antiquewhite;
    outline-width: 2px;
    outline-offset: initial;
    outline-style: solid;
}

.video {
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 2;
  min-width: 100%;
  min-height: 100%;
  width: 100px;
  height: 129px;
  transform: translate(-90%, 9%);
}

.link1 {
    position: absolute;
    width: 40px;
    height 40px:
    z-index: 2;
    top: 2%;
    left: 1%;
    overflow: hidden;
    color: antiquewhite;
    display: none;
}

.link1:hover {
    display: block;
}

.link2 {
    position: absolute;
    width: 15px;
    z-index: 2;
    top: 96%;
    left: 1%;
    overflow: hidden;
    color: antiquewhite;
    display: none;
}

.link2:hover {
    display: block;
}

.link3 {
    position: absolute;
    width: 15px;
    z-index: 2;
    top: 2%;
    left: 97%;
    overflow: hidden;
    color: antiquewhite;
    display: none;
}

.link3:hover {
    display: block;
}

.link4 {
    position: absolute;
    width: 15px;
    z-index: 2;
    top: 96%;
    left: 97%;
    overflow: hidden;
    color: antiquewhite;
    display: none;
}

.link5 {
    position: relative;
    width: 0px;
    z-index: 2;
    right: 50%;
    left: 50%;
    overflow: hidden;
    color: antiquewhite;
}


.story-wrapper {
    margin-left:
    z-index: 2;
    top: -7%;
    left: 51%;
    overflow: hidden;
    margin: 70px;
}

.story-content {
    overflow-y: auto;
    font-size: 50px;
    color: antiquewhite;
}

.show-wrapper {
    position: fixed;
    top: 34px;
    right: 30px;
    width: 300px;
    z-index: 2;
    color: antiquewhite;
}